* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}
.hero {
    position: relative;
    width: 100%;
    height: 100%;
    background: gray;
}

nav {
    display: flex;
    width: 85%;
    margin: auto;
    padding: 20px 0;
    align-items: center; 
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.about {
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
    align-items: center;
    flex-wrap: wrap;
}

.image {
    width: 400px;
    height: 300px;
}

.hero h1 {
        background-color: #d76899;
        width: 200px;
        margin: 10px 10px 10px -53px;
        padding: 10px 21px 10px 50px;
}

.shrinkbrowsermargin {
    margin-bottom: 10px;
}

.image2 {
    width: 800px;
    height: 600px;
}
.container {
    position:relative;
}
.work{
display: flex;
flex-wrap: wrap;
margin-top: 20px;
}

.textbox {
    position: absolute;
    bottom: 245px;
    /* right: 20px; */
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image3 {
    width: 300px;
    height: 300px;
}

.work2 {
    background-color: #d76899;
    width: 200px;
    margin: 10px 10px 10px -53px;
    padding: 10px 21px 10px 175px;
}

.list23 {
    display:flex;
    justify-content: space-around;
    margin-bottom: 15px;
}